<!-- start custom head snippets -->

<link rel="icon" href="/images/favicon.ico?" type="image/x-icon">

<!--  Essential META Tags -->

<meta property="og:title" content="{{ site.title }}">
<meta property="og:description" content="{{ site.subtitle }}">
<meta property="og:image" content="{{ site.url }}/images/profile.png">
<meta property="og:url" content="{{ site.url }}">
<meta name="twitter:card" content="{{ site.url }}/images/profile.png">


<!--  Non-Essential, But Recommended -->

<meta property="og:site_name" content="Thomas Chambers">
<meta name="twitter:image:alt" content="Thomas Chambers">
<!--  Non-Essential, But Required for Analytics -->

<!--<meta property="fb:app_id" content="your_app_id" />-->
<meta name="twitter:site" content="@{{ site.twitter }}">
<!-- end custom head snippets -->
