<!-- start custom head snippets -->

<link rel="icon" href="/images/favicon.ico?" type="image/x-icon">

<!--  Essential META Tags -->

<meta property="og:title" content="{{ page.title }}">
<meta property="og:url" content="{{ site.url }}">

{% if page.summary %}
<meta name="og:description" content="{{ page.summary}}">
{% else %}
<meta property="og:description" content="{{ site.subtitle }}">
{% endif %}}

{% if page.image %}
<meta name="twitter:card" content="summary_large_image">
<meta property="og:image" content="{{ site.url }}{{ page.image }}">
{% else %}
<meta name="twitter:card" content="summary">
<meta property="og:image" content="{{ site.url }}/images/profile.png">
{% endif %}
<!--  Non-Essential, But Recommended -->

<meta property="og:site_name" content="Thomas Chambers">
<meta name="twitter:image:alt" content="Thomas Chambers">

<!--  Non-Essential, But Required for Analytics -->
<!--<meta property="fb:app_id" content="your_app_id" />-->
<meta name="twitter:site" content="@{{ site.twitter.username }}">
<meta name="twitter:creator"  content="@{{ site.twitter.username }}">
<!-- end custom head snippets -->
