<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" href="{{ '/assets/images/favicon.png' | prepend: site.baseurl }}" >
			<link rel="icon" href="/assets/images/favicon.png?" type="image/x-icon">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:tchambers14@gmail.com">email</a></li>
	        		<li><a href="https://github.com/tchambers14">github.com/tchambers14</a></li>
				</ul>
			</footer>
		</body>
	</html>