---
layout: archive
---

{{ content }}

{% assign categories_max = 0 %}
{% for category in site.categories %}
{% if category[1].size > categories_max %}
{% assign categories_max = category[1].size %}
{% endif %}
{% endfor %}
<ul class="taxonomy__index">
    {% for i in (1..categories_max) reversed %}
    {% for category in site.categories %}
    {% if category[1].size == i %}
    <li>
        <a href="{{ category[0] | slugify }}">
        <strong>{{ category[0] }}</strong>
        </a>
    </li>
    {% endif %}
    {% endfor %}
    {% endfor %}
</ul>

<br>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
